<% blogPosts.forEach(blog => { %>

<div class="blog-info">
  <h3><%= blog['slug'] %></h3>
  <h2><%= blog['title'] %></h2>
  <p><%= blog['content'] %></p>
</div>

<div class="buttons">
  <form class="update" action="/update" method="post">
    <input
      type="text"
      name="slug"
      id="slug"
      value="<%= blog['slug'] %>"
      hidden
    />
    <button type="submit">Edit</button>
  </form>

  <form class="delete" action="/delete/submit" method="post">
    <input
      type="text"
      name="slug"
      id="slug"
      value="<%= blog['slug'] %>"
      hidden
    />
    <button type="submit">Delete</button>
  </form>
</div>

<% }) %>
